.side-panel
  %h1 Walker Jogger Runner

  %h3 Search for events by location

  #location-search
    %input#location-search{type: 'text', placeholder: "location"}
    %input#search{type: 'submit', value: "Search"}

  .competitions

#canvas