.side_panel
  %h1 Walker Jogger Runner

  %h3 Search for events by location

  .location_search
    %input#location_search{type: 'text', placeholder: "location"}
    %input#search{type: 'submit', value: "Search"}

  .competitions

.canvas